$background-white: #FCFCFC;
$background-gray: #F3F4F7;
$background-modal: rgba(52, 79, 106, 0.32);
$text-gray: #677B8F;
$text-dark: #012345;
$text-blue: #4959FF;
$text-pink: #F84AB3;
$button-size: 48px;
